/* ADMISSION PAGE */
.process-section{
    padding: 30px 60px;
}

.process h3{
    font-size: 22px;
    color: #87CEEB;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

/* END OF ADMISSION PAGE */
